<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class="col-md-5">
                <h5 class="headin5_amrc col_white_amrc pt2">Om oss</h5>
                <p class="mb10 w-50">Om du har några frågor eller funderingar, tveka inte på att skicka oss ett email eller ring vår kundtjänst!</p>
            </div>

            <div class="col-md-4">
                <h5 class="headin5_amrc col_white_amrc pt2">Länkar</h5>
                <ul class="footer_ul_amrc">
                    <li>  <a href="accounts/myaccount">Mitt konto</a></li>
                    <li><a href="/">Tillgängliga bilar</a></li>
                    <li><a href="/home/generalterms">Villkor för våra tjänster</a></li>
                </ul>
            </div>

            @*<div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                <ul class="footer_ul_amrc">
                    <li>  <a href="accounts/myaccount">Mitt konto</a></li>
                    <li><a href="/home/generalterms">Tillgängliga bilar</a></li>
                </ul>
            </div>*@

            <div class="pr-0 pl-4 col-md-3">
                <h5 class="headin5_amrc col_white_amrc pt2">Kontakta oss</h5>
                <p><i class="fa fa-location-arrow"></i> Borgarfjordsgatan 4, 164 55 Kista </p>
                <p><i class="fa fa-phone"></i>  +46-(0)8878398  </p>
                <p><i class="fa fa fa-envelope"></i> info@RentACar.com  </p>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <ul class="foote_bottom_ul_amrc">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Pricing</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
        <p class="text-center">Copyright 2019 | Designed by <a href="/"> Rent A Car Company</a></p>
        <ul class="social_footer_ul pl-0">
            <li><a href="/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="/"><i class="fab fa-twitter"></i></a></li>
            <li><a href="/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="/"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>
