@*<footer class="page-footer font-small unique-color-dark">

    <div>
            <div class="container">

                <div class="row py-4 d-flex align-items-center">

                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    </div>
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <span class="mb-0 font-weight-bold footer-icon-text">Följ Rent A Car:  </span>
                        
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f text-white mr-4"> </i>
                        </a>
                        <a class="tw-ic">
                            <i class="fab fa-twitter text-white mr-4"> </i>
                              </a>
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g text-white mr-4"> </i>
                        </a>
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in text-white mr-4"> </i>
                        </a>
                        <a class="ins-ic">
                            <i class="fab fa-instagram text-white"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <div class="container text-center text-md-left mt-1">

        <div class="row mt-1">

            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-1">

                <h6 class="text-uppercase font-weight-bold">Rent A Car</h6>
                <p>
                    Snabbt och enkelt att hyra bil!
                </p>

            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-1">

                <h6 class="text-uppercase font-weight-bold">Länkar</h6>
                <p>
                    <a href="/" class="text-dark">Tillgängliga bilar</a>
                </p>
                <p>
                    <a href="accounts/myaccount" class="text-dark">Mitt konto</a>
                </p>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-1">

                <h6 class="text-uppercase font-weight-bold">Kontakta oss</h6>
                <p>
                    <i class="fas fa-home mr-3 text-white"></i>Borgarfjordsgatan 4, <br />164 55 Kista
                </p>
                <p>
                    <i class="fas fa-envelope mr-3 text-white"></i>rentacar@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3 text-white"></i> 08-123 456 789
                </p>
                @*<p>
                    <i class="fas fa-print mr-3 text-white"></i> + 01 234 567 89
                </p>

            </div>
        </div>

    </div>
    <div class="footer-copyright text-center py-1">
        © 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/" class="text-dark"> MDBootstrap.com</a>
    </div>

</footer>*@

<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Om oss</h5>
                <!--headin5_amrc-->
                <p class="mb10">Om du har några frågor eller funderingar, tveka inte på att skicka oss ett email eller ring vår kundtjänst!</p>
               

            </div>

            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li>  <a href="accounts/myaccount">Mitt konto</a></li>
                    <li><a href="/">Tillgängliga bilar</a></li>
                    @*<li><a href="http://kalarikendramdelhi.com">Hollow Man Montage</a></li>
                    <li><a href="http://kalarikendramdelhi.com">Ebay & Amazon</a></li>
                    <li><a href="http://kalarikendramdelhi.com">Hair Masking/Clipping</a></li>
                    <li><a href="http://kalarikendramdelhi.com">Image Cropping</a></li>*@
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>

            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li>  <a href="accounts/myaccount">Mitt konto</a></li>
                    <li><a href="/">Tillgängliga bilar</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>

            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Kontakta oss</h5>
                <!--headin5_amrc ends here-->
                <p><i class="fa fa-location-arrow"></i> Borgarfjordsgatan 4, 164 55 Kista </p>
                <p><i class="fa fa-phone"></i>  +46-(0)8878398  </p>
                <p><i class="fa fa fa-envelope"></i> info@RentACar.com  </p>
                <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>

    <div class="container text-center">
        <ul class="foote_bottom_ul_amrc">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/">Pricing</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright 2019 | Designed With by <a href="/"> Rent A Car Company</a></p>
        <ul class="social_footer_ul pl-0">
            <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-twitter"></i></a></li>
            <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="http://kalarikendramdelhi.com"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>
</footer>
