<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
<<<<<<< HEAD
    <h1>This is the Header</h1>
=======
    <img src="~/Logo.png" style="width:70px"/>
    <p>Hi</p>
>>>>>>> 66794904a23803963cb9ca8ca57494acf680418a
</body>
</html>