<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <partial name="_Header" />
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <partial name="_Footer" />
    </footer>
</body>
</html>
