<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqQCALQLs6NM9tMpHUWlC2uLNh5Eniz3I&libraries=places" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/js/bootstrap.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/StyleSheet.min.css" rel="stylesheet" />


</head>
<body>
    <header>
        <partial name="_Header" />
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <footer>
        <partial name="_Footer" />
    </footer>
 @RenderSection("scripts", required: false)
</body>
</html>
