@model MyCarCard


<div class="card" style="max-width: 12rem;">
    <img class="card-img-top" src="/@Model.ImgUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Model</h5>
        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
    </div>
    <div class="card-body">
    </div>
    <div class="card-footer">
        <a href="#" class="card-link">Redigera</a>

    </div>
</div>

