@model MyCarCard


<div class="card m-1 shadow bg-white rounded" style="min-width: 185px; max-width: 185px">
    <img class="card-img-top" src="/@Model.ImgUrl" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Model</h5>
    </div>
    <div class="card-footer">
        <a href="/Accounts/EditCar/@Model.Id" class="card-link button-default">Redigera</a>

    </div>
</div>

