
@{
    ViewData["Title"] = "Generalterms";
}

<div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <div class="card shadow bg-white rounded mt-4 mb-4" style="max-width:602px; min-width:330px">
            <div class="card-header">
                <h2>Villkor för våra tjänster</h2>
            </div>
            <div class="row m-3 " style="max-width:none">
                <div class="container col" style="max-width:none">
                    <div class="form-group">
                        <img src="~/Logo.png" class="img-fluid rounded float-right" style="max-width:80px" />
                        <h5> Generella villkor</h5>
                        <br />
                        <h6> Vid uthyrning</h6>
                        <p>
                            När du hyr ut din bil hos oss på Rent A Car,
                            kan du känna dig trygg. Vi har ett avtal om trafikförsäkring
                            på alla bilar genom <strong>Acme Försäkringar AB</strong>.
                            Denna försäkring ingår alltid hos oss, när du hyr ut din bil.
                        </p>
                        <p>
                            Som kund som hyr bil, så får du en grundförsäkring
                            mot skador och oaktsamhet genom <strong>Acme Försäkringar AB</strong>
                            när du genomför ett köp hos oss. Vi erbjude även kompletta
                            försäkringar, villkor om dessa och närmare frågor kan du få
                            genom vår kundtjänst på telefonnummer: 08-878398,
                            under kontorstider: Måndag-Fredag: 08:00-17:00
                        </p>
                        <h6>Priser</h6>
                        <p>
                            Att vara medlem på vår sida RentACar.com kostar ingenting.
                        </p>
                        <p>
                            När du lägger in en annons för att hyra ut en bil,
                            ingår det en standardavgift på <strong>20 kr</strong> per annons.
                            Därefter väljer du själv hur mycket du vill ha betalt
                            per dygn som du hyr ut din bil. Av detta pris utgår
                            <strong>5 %</strong> av beloppet som administrativ avgift till Rent A Car.
                            När du är klar med registreringen av din annons,
                            kommer ett schablonmässigt momsbelopp om 25% att slås
                            på din annons, vilket kommer att bli totalpriset köparen ser.
                            <h6>Betalning</h6>
                            Betalning sker genom godkänd legitimering av BankID av både
                            uthyrare och köpare.
                            När du lägger upp en annons kommer du få ansluta med en BankID-app,
                            för att verifiera köpet, och därefter annonsbetalning att ske
                            genom <strong>SWIPS</strong>-betalning.
                            Som köpare sker betalningen direkt efter att du godkänt köpet
                            på hemsidan, genom <strong>SWIPS</strong>-betalning.
                        </p>
                        <p>
                            Efter avslutad betalning skickas en mail-bekräftelse ut,
                            och när en uthyrning har beställts meddelas också båda parter via
                            ett mail om bekräftelsedetaljer
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
