@model StartPageVM
@{
    ViewBag.Title = "Home";
}

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form asp-controller="car" asp-action="search">
                        <div class="row no-margin">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="form-label" asp-for="City"></label>
                                    <input class="form-control" asp-for="City" id="pac-input" />
                                </div>
                            </div>
                            <div class="col-md-8" >
                                <div class="row no-margin">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label" asp-for="StartDate"></label>
                                            <input class="form-control" asp-for="StartDate" type="date" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group" id="overrideStartingHour">
                                            <label class="form-label" asp-for="StartingHour"></label>
                                            <select class="form-control" asp-for="StartingHour" asp-items="Model.TimeStamps"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label" asp-for="EndDate"></label>
                                            <input class="form-control" asp-for="EndDate" type="date" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group"  id="overrideEndingHour">
                                            <label class="form-label" asp-for="EndingHour"></label>
                                            <select class="form-control" asp-for="EndingHour" asp-items="Model.TimeStamps"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-btn">
                                    <input class="submit-btn" type="submit" value="Hitta bil" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-nopadding">
    <h2>Bilar i närheten</h2>
    <div class="row">
        <div id="renderPartial">

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            if (navigator.geolocation) {
                console.log("Location1")
                navigator.geolocation.getCurrentPosition(addLocation, useDefaultPosition);
            }

            function useDefaultPosition(error) {
                console.log(error)
                $.ajax({
                    url: "Home/GetPartialView",
                    type: "GET",
                    data: {
                        "lat": 59.32932349999999,
                        "longi": 18.0685808,
                    },
                    success: function (result) {
                        $("#renderPartial").html(result);
                    }
                });
            }

            function addLocation(position) {
                console.log(position)
                $.ajax({
                    url: "/Home/GetPartialView",
                    type: "GET",
                    data: {
                        "lat": position.coords.latitude,
                        "longi": position.coords.longitude,
                    },
                    success: function (result) {
                        $("#renderPartial").html(result);
                    }
                });
            };

            var defaultBounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(55.443622530763776, 13.557255595420315,
                    new google.maps.LatLng(68.36397472828507, 20.813820077627042)
                ))

            var options = {
                bounds: defaultBounds,
            }

            var input = document.getElementById("pac-input");
            var autocomplete = new google.maps.places.Autocomplete(input, options);
        });
    </script>
}
