@model StartPageVM
@{
    ViewBag.Title = "Home";
}

<form asp-controller="car" asp-action="search">
    <label asp-for="City"></label>
    <input asp-for="City" />

    <label asp-for="StartDate"></label>
    <input asp-for="StartDate" type="date" />
    <select asp-for="StartingHour" asp-items="Model.TimeStamps"></select>

    <label asp-for="EndDate"></label>
    <input asp-for="EndDate" type="date" />
    <select asp-for="EndingHour" asp-items="Model.TimeStamps"></select>

    <input type="submit" value="Sök" />
</form>
<div class="container container-nopadding">
        <h2>Bilar i närheten</h2>
    <div class="row">
        <div id="renderPartial">

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            if (navigator.geolocation) {
                console.log("Location1")
                navigator.geolocation.getCurrentPosition(addLocation, useDefaultPosition);
            }

            function useDefaultPosition(error) {
                console.log(error)
                $.ajax({
                    url: "Home/GetPartialView",
                    type: "GET",
                    data: {
                        "lat": 59.32932349999999,
                        "longi": 18.0685808,
                    },
                    success: function (result) {
                        $("#renderPartial").html(result);
                    }
                });
            }

            function addLocation(position) {
                console.log(position)
                $.ajax({
                    url: "/Home/GetPartialView",
                    type: "GET",
                    data: {
                        "lat": position.coords.latitude,
                        "longi": position.coords.longitude,
                    },
                    success: function (result) {
                        $("#renderPartial").html(result);
                    }
                });
            };
        });
    </script>
}
