$color1: #88959D;
$color2: #B6C7CC;
$color3: #C5D4DB;
$color4: #D4DFE1;
$color5: #E0ECE0;

body {

    background-color: $color5;

    main {
        background-color: $color4 !important;
    }

    header {
        background-color: $color2 !important;
    }

    footer {
        background-color: $color1 !important;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header-body {
    display: flex;
}

.container-nopadding {
}

.carImg {
    height: 100px;
    width: 150px;
}

#renderPartial {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    width: 100vw;
}

#renderColumns {
    width: 25%;
}

#invoice-POS {
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding: 2mm;
    margin: 0 auto;
    width: 100mm;
    background: #FFF;


    ::selection {
        background: #f31544;
        color: #FFF;
    }

    ::moz-selection {
        background: #f31544;
        color: #FFF;
    }

    h1 {
        font-size: 1.5em;
        color: #222;
    }

    h2 {
        font-size: .9em;
    }

    h3 {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 2em;
    }

    p {
        font-size: 1em;
        color: #666;
        line-height: 1.2em;
    }

    #top, #mid, #bot { /* Targets all id with 'col-' */
        border-bottom: 1px solid #EEE;
    }

    #top {
        min-height: 100px;
    }

    #mid {
        min-height: 80px;
    }

    #bot {
        min-height: 50px;
    }

    #top .logo {
        //float: left;
        height: 60px;
        width: 60px;
        background: url(Logo.png) no-repeat;
        background-size: 60px 60px;
    }


    .info {
        display: block;
        //float:left;
        margin-left: 0;
        font-size: 1em;
    }

    .title {
        float: right;
    }

    .title p {
        text-align: right;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    td {
        //padding: 5px 0 5px 15px;
        //border: 1px solid #EEE
    }

    .tabletitle {
        //padding: 5px;
        font-size: 1em;
        background: #EEE;
    }

    .service {
        border-bottom: 1px solid #EEE;
    }

    .item {
        width: 24mm;
    }

    .itemtext {
        font-size: 1em;
    }

    #legalcopy {
        margin-top: 5mm;
    }

}

.sign-in-form {
    margin: 0 auto;
    padding: 2em 1em;
}

.button-default {
    font-size: 0.9em;
    padding: 0.25em 0.5em;
    display: inline-block;
    width: auto;
    height: auto;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: #8ccdae;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8ccdae), color-stop(100%, #6fa88d));
    background: -webkit-linear-gradient(#8ccdae, #6fa88d);
    background: -moz-linear-gradient(#8ccdae, #6fa88d);
    background: -o-linear-gradient(#8ccdae, #6fa88d);
    background: -ms-linear-gradient(#8ccdae, #6fa88d);
    background: linear-gradient(#8ccdae, #6fa88d);
    -moz-box-shadow: #c1e4d4 0 1px 0 inset;
    -webkit-box-shadow: #c1e4d4 0 1px 0 inset;
    -o-box-shadow: #c1e4d4 0 1px 0 inset;
    box-shadow: #c1e4d4 0 1px 0 inset;
    border: 1px solid #5f9e80;
    color: white;
    text-shadow: #40936b 0 -1px 0;
    text-decoration: none;

    &:link {
        text-decoration: none;
        color: white;
    }

    &:visited {
        text-decoration: none;
        color: white;
    }

    &:hover {
        text-decoration: none;
        color: white;
    }

    &:active {
        text-decoration: none;
        color: white;
    }
}

.account-form {
    margin: 0 auto;
    padding: 2em 1em;
    max-width: 320px;
    .account-button-container{
        padding: 16px 0;
    }
}

.footer-icon-text{
    margin-right: 1em;
}

.change-password-form {
    margin: 0 auto;
    padding: 2em 1em;
    max-width: 320px;
    margin: 1em; 
}