$color1: #88959D;
$color2: #B6C7CC;
$color3: #C5D4DB;
$color4: #D4DFE1;
$color5: #E0ECE0;

body {

    background-color: $color5;

    main {
        background-color: $color4 !important;
    }

    header {
        background-color: $color2 !important;
    }

    footer {
        background-color: $color1 !important;
    }
}

.header-body {
    display: flex;
}

.container-nopadding {
}

.carImg {
    height: 100px;
    width: 150px;
}

#renderPartial {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
    width: 100vw;
}

#renderColumns {
    width: 25%;
}
