$color1: #88959D;
$color2: #B6C7CC;
$color3: #C5D4DB;
$color4: #D4DFE1;
$color5: #E0ECE0;

body {
    background-color: $color2;
}
header {
    background-color: $color4;
}
footer {
    background-color: $color3;
}
.header-body{
    display:flex;
}
.container-nopadding {
    padding: 0 !important;
}

.carImg{
    height: 50px;
    width: 50px;
}

#renderPartial{
    display: flex;
    flex-flow: row;
}