@model CarRentConfirmVM
@{
    ViewData["Title"] = "Bekräfta Bokning";
}
<div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <div class="card shadow bg-white rounded mt-4 mb-4" style="max-width:602px; min-width:330px">
            <div class="card-header">
                <h2>Bekräfta bokning</h2>
            </div>
            <div class="row m-3 " style="max-width:none">
                <div class="container col" style="max-width:none">
                    <div class="form-group">
                        <img src="~/Logo.png" class="img-fluid rounded float-right" style="max-width:80px" />
                        <br />
                        <h6> Du hyr bilen @Model.CarName</br> mellan @Model.StartTime och @Model.EndTime</h6>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-md-6 mb-2 pl-4">
                        <form asp-controller="car" asp-action="rentcar">
                            <input asp-for="CarId" type="hidden" />
                            <input asp-for="Price" type="hidden" />
                            <input asp-for="StartTime" type="hidden" />
                            <input asp-for="EndTime" type="hidden" />
                            <input class="button-default" type="submit" value="Godkänn" />
                            <img src="~/bankid.png" style="max-width:80px; " />
                        </form>
                    </div>
                    <div class="col-md-6 mb-2 pr-0">
                        <a class="float-right button-default" asp-controller="car" asp-action="details" asp-route-id="@Model.CarId" class="button-default">Tillbaka</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>