@model StartPageVM
@{
    ViewBag.Title = "Home";
}

<form asp-controller="home" asp-action="search">
    <label asp-for="City"></label>
    <input asp-for="City"/>
    <input type="submit" value="Sök"/>
</form>


