@model CarSearchFilterVM
@{
    ViewData["Title"] = "Search";
}

<div class="row mt-3">
    <div class="col-8 text-sm-right px-2">
        <h4 class="my-0 pt-1 mt-3">Sortera på</h4>
    </div>
    <div class="col-3 ml-2">
        <div class="row justify-content-start mt-3">

            <button class="button-default mr-1" id="sortPrice">Lägsta Pris</button>
            <button class="button-default ml-1" id="sortDistance">Kortast Avstånd</button>
        </div>
    </div>
</div>
<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-6 col-md-3 sidebar-offcanvas" id="filter">
        <div class="card m-1 shadow bg-white rounded mt-3" style="min-width: 245px;">
            <div class="card-header text-center">
                <h2>Filtrera</h2>
            </div>
            <div class="card-body">
                <form id="Search">
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input class="form-control" asp-for="Price" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <select class="form-control" asp-for="Type"
                                asp-items="Model.TypeItems"></select>
                        <span asp-validation-for="Type"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="GearItems"></label>
                        <select class="form-control" asp-for="Gear"
                                asp-items="Model.GearItems"></select>
                        <span asp-validation-for="Gear"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FuelItems"></label>
                        <select class="form-control" asp-for="Fuel"
                                asp-items="Model.FuelItems"></select>
                        <span asp-validation-for="Fuel"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeatsItem"></label>
                        <select class="form-control" asp-for="Seats"
                                asp-items="Model.SeatsItem"></select>
                        <span asp-validation-for="Seats"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DoorsItem"></label>
                        <select class="form-control" asp-for="Doors"
                                asp-items="Model.DoorsItem"></select>
                        <span asp-validation-for="Doors"></span>
                    </div>
                    <div class="row">
                        <div class="form-group pl-3 pr-3">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Ac" type="checkbox" />
                                <label class="form-check-label" asp-for="Ac"></label>
                            </div>
                        </div>
                        <div class="form-group pl-5">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="ChildSeat" type="checkbox" />
                                <label class="form-check-label" asp-for="ChildSeat"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group pl-3">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="TowBar" type="checkbox" />
                                <label asp-for="TowBar"></label>
                            </div>
                        </div>
                        <div class="form-group pl-3">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="RoofRack" type="checkbox" />
                                <label asp-for="RoofRack"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="Pets" type="checkbox" />
                            <label asp-for="Pets"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-9">
        <div class="container py-3" id="filterResults">

        </div>
    </div>

</div>

<script>
    $(function () {
        var results = JSON.parse('@Html.Raw(Model.SearchResultJson)');
        var filterResults = results;


        renderSearchResult();

        $("#sortPrice").on("click", function () {
            $("#filterResults").empty();
            renderSearchResult("Price");
        })

        $("#sortDistance").on("click", function () {
            $("#filterResults").empty();
            renderSearchResult("Dist");
        })

        function renderSearchResult(s) {

            if (s == "Price") {
                filterResults.sort(function (a, b) {
                    return a.Price - b.Price;
                })
            }
            else if (s == "Dist") {
                filterResults.sort(function (a, b) {
                    return a.Distance - b.Distance;
                })
            }

            for (var i = 0; i < filterResults.length; i++) {

                if (

                    ($("#Price").val() >= filterResults[i].Price || $("#Price").val() == "0,00" || $("#Price").val() == "" ) &&
                    ($("#Type").val() == filterResults[i].Type || $("#Type").val() == "Alla") &&
                    ($("#Gear").val() == filterResults[i].Gear || $("#Gear").val() == "Alla") &&
                    ($("#Fuel").val() == filterResults[i].Fuel || $("#Fuel").val() == "Alla") &&
                    ($("#Seats").val() >= filterResults[i].Seats || $("#Seats").val() == null) &&
                    ($("#Doors").val() >= filterResults[i].Doors || $("#Doors").val() == null) &&
                    ($("#Ac").is(":checked") == filterResults[i].Ac || $("#Ac").is(":checked") == false) &&
                    ($("#ChildSeat").is(":checked") == filterResults[i].ChildSeat || $("#ChildSeat").is(":checked") == false) &&
                    ($("#TowBar").is(":checked") == filterResults[i].TowBar || $("#TowBar").is(":checked") == false) &&
                    ($("#RoofRack").is(":checked") == filterResults[i].RoofRack || $("#RoofRack").is(":checked") == false) &&
                    ($("#Pets").is(":checked") == filterResults[i].Pets || $("#Pets").is(":checked") == false))
                {

                    var outerDiv = $(`<div onclick="window.location='/car/details/${filterResults[i].Id}'" class="card mb-2 list zoomMin shadow bg-white rounded" style=min-height:150px;>`);
                var cardDiv = $('<div class="row list">');
                var imgdiv = $('<div class="col-md-4 list">');
                    var img = $(`<img class="w-100 list" src="${filterResults[i].ImgUrl}">`);
                var cardBody = $('<div class="col-md-8 px-3 list" style="padding: 15px;">');
                var row = $('<div class="row h-100 list">');
                var div = $('<div class="col-md-8 list">');
                var div2 = $('<div class="h-100 list">');
                var cardTitle = $(`<h3 class="card-title list">${filterResults[i].Model}</h3>`);
                    var rating = $(`<h6 class="h6 list">(${Math.round(filterResults[i].Rating)})</h6>`);
                    var dis = Math.floor(filterResults[i].Distance);

                var distance = $(`<small class="small list" style="Height: 10%; Position: Absolute; Bottom: 15px;">${dis} km bort</small>`);
                var carFooter = $('<div class="col-md-4 list">');

                    var price = $(`<strong class="strong list" style="float: right; margin: 10px;"> ${filterResults[i].Price} kr/dag</strong>`);

                    for (var j = 0; j < Math.floor(filterResults[i].Rating); j++) {
                        rating.prepend('<i class=" fa fa-star"> </i>');
                    }

                carFooter.append(price);
                div2.append(cardTitle);
                div2.append(rating);
                div2.append(distance);
                div.append(div2);
                row.append(div);
                row.append(carFooter);
                cardBody.append(row);
                imgdiv.append(img);
                cardDiv.append(imgdiv);
                cardDiv.append(cardBody);
                outerDiv.append(cardDiv);
                $("#filterResults").append(outerDiv);

                }


            }
        }

        $("#Search").change(function () {

            $("#filterResults").empty();
            renderSearchResult();
        });

        $("#Search").submit(function (e) {

            e.preventDefault();
        });

 });
</script>