@model AccountLoginVM
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-controller="accounts" asp-action="login" asp-route-returnUrl="@ViewData["returnUrl"]">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" type="password" />
    <span asp-validation-for="Password"></span>
    <hr />
    <input type="submit" value="Logga In" />
</form>