@model MyAccountVM

<div class="container">

    <div class="row">

        <form asp-controller="Accounts" asp-action="MyAccount" class="account-form">

            <h1>Mitt konto</h1>
            <h5>Uppdatera uppgifter</h5>

            <div class="form-group">
                <label asp-for="UserInfo.UserName"></label>

                <input asp-for="UserInfo.UserName" class="form-control is-valid" />

                <span asp-validation-for="UserInfo.UserName"></span>
                <label asp-for="UserInfo.Email"></label>

                <input asp-for="UserInfo.Email" class="form-control is-valid" />

                <span asp-validation-for="UserInfo.Email"></span>

                <div id="PassWordField" class="change-password-form">

                    <label asp-for="OldPassword"></label>

                    <input asp-for="OldPassword" type="password" class="form-control is-valid" />

                    <span asp-validation-for="OldPassword"></span>

                    <label>Nytt lösenord</label>

                    <input asp-for="UserInfo.Password" type="password" class="form-control is-valid" />

                    <span asp-validation-for="UserInfo.Password"></span>
                </div>
                <div class="account-button-container">
                    <button id="ChangePassword" class="button-default float-right">Ändra Lösenord</button>
                </div>

            </div>
            <div class="form-update-account-info">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control is-valid" />
                <span asp-validation-for="FirstName"></span>


                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control is-valid" />
                <span asp-validation-for="LastName"></span>

                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control is-valid" />
                <span asp-validation-for="PhoneNumber"></span>

                <label asp-for="Street"></label>
                <input asp-for="Street" class="form-control is-valid" />
                <span asp-validation-for="Street"></span>

                <label asp-for="Zip"></label>
                <input asp-for="Zip" class="form-control is-valid" />
                <span asp-validation-for="Zip"></span>

                <label asp-for="SSN"></label>
                <input asp-for="SSN" class="form-control is-valid" />
                <span asp-validation-for="SSN"></span>

                <label asp-for="City"></label>
                <input asp-for="City" class="form-control is-valid" />
                <span asp-validation-for="City"></span>
                <div class="account-button-container">
                    <input type="submit" value="Spara" class="button-default float-right" />
                </div>
            </div>
        </form>
    </div>
    <div class="membership-div">
        <h5>Medlem sedan</h5>
        <p>@Model.DateJoined</p>
    </div>

    <div class="container">
        <h3>Mina bilar</h3>

        <div class="card-deck">

            @foreach (var carCard in Model.CarCards)
            {
                <partial name="_MyCars" model="carCard" />
            }
        </div>
    </div>


    <div class="container">
        <h3>Mina Bokningar</h3>

        <div class="card-deck">
            @foreach (var booking in Model.MyBookings)
            {
                <partial name="_MyBookings" model="booking" />
            }
        </div>
    </div>

    <script>
        $(function () {



            $("#PassWordField").hide();

            $("#ChangePassword").click(function (e) {
                e.preventDefault();

                $("#PassWordField").show();
                $(this).hide();

            })

        })
    </script>
