@model MyAccountVM

<h2>MyAccount</h2>

<h3>Uppdatera uppgifter</h3>
<form asp-controller="Accounts" asp-action="MyAccount">
    <label asp-for="UserInfo.UserName"></label>
    <input asp-for="UserInfo.UserName" />
    <span asp-validation-for="UserInfo.UserName"></span>
    <br />
    <label asp-for="UserInfo.Email"></label>
    <input asp-for="UserInfo.Email" />
    <span asp-validation-for="UserInfo.Email"></span>
    <br />
    <div id="PassWordField">

        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword" type="password" />
        <span asp-validation-for="OldPassword"></span>

        <br />
        <label>Nytt lösenord</label>
        <input asp-for="UserInfo.Password" type="password" />
        <span asp-validation-for="UserInfo.Password"></span>
    </div>

    <button id="ChangePassword">Ändra Lösenord</button>
    <hr />

    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span>


    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName"></span>

    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>

    <label asp-for="Street"></label>
    <input asp-for="Street" />
    <span asp-validation-for="Street"></span>

    <label asp-for="Zip"></label>
    <input asp-for="Zip" />
    <span asp-validation-for="Zip"></span>

    <label asp-for="SSN"></label>
    <input asp-for="SSN" />
    <span asp-validation-for="SSN"></span>

    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>


    <input type="submit" value="Spara" />


</form>
<p>@Model.DateJoined</p>


d
<div class="container">
    <h3>Mina bilar</h3>

    <div class="card-deck">

        @foreach (var carCard in Model.CarCards)
        {
            <partial name="_MyCars" model="carCard" />
        }
    </div>
</div>

d
<div class="container">
    <h3>Mina Bokningar</h3>

    <div class="card-deck">
        @foreach (var booking in Model.MyBookings)
        {
            <partial name="_MyBookings" model="booking" />
        }
    </div>
</div>

    <script>
        $(function () {



            $("#PassWordField").hide();

            $("#ChangePassword").click(function (e) {
                e.preventDefault();

                $("#PassWordField").show();
                $(this).hide();

            })

        })
    </script>
