@model MyAccountVM
<div class="container pt-3">
</div>
<div class="container row">

    <div class="container row">
        <div class="list-group col" style="max-width:250px">
            <a href='#' id="FirstLink" class="list-group-item list-group-item-action">
                Mina Personuppgifter
            </a>
            <a href="#" id="SecoundLink" class="list-group-item list-group-item-action">Mina Bilar</a>
            <a href="#" id="ThirdLink" class="list-group-item list-group-item-action">Mina Bokningar</a>
            <a href="#" id="FourthLink" class="list-group-item list-group-item-action">Mina Omdömmen</a>

            <div class="membership-div">
                <h5>Medlem sedan</h5>
                <p>@Model.DateJoined</p>
            </div>
        </div>
        <div class="col">
            <div class="card shadow bg-white rounded" id="MinaPersonuppgifter" style="max-width:602px; min-width:330px">
                <div class="card-header">
                    <h2>Personuppgifter</h2>
                </div>

                <form asp-controller="Accounts" asp-action="MyAccount">

                    <div class="row m-3 " style="max-width:560px">
                        <div class="container col" style="max-width:280px">

                            <div class="form-group">
                                <label asp-for="UserInfo.UserName"></label>
                                <input class="form-control" asp-for="UserInfo.UserName" />
                                <span asp-validation-for="UserInfo.UserName"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserInfo.Email"></label>
                                <input class="form-control" asp-for="UserInfo.Email" />
                                <span asp-validation-for="UserInfo.Email"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="FirstName"></label>
                                <input class="form-control" asp-for="FirstName" />
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="form-group">

                                <label asp-for="LastName"></label>
                                <input class="form-control" asp-for="LastName" />
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <div id="PassWordField">
                                <div class="form-group">
                                    <label asp-for="OldPassword"></label>
                                    <input class="form-control" asp-for="OldPassword" type="password" />
                                    <span asp-validation-for="OldPassword"></span>
                                </div>
                                <div class="form-group">
                                    <label>Nytt lösenord</label>
                                    <input class="form-control" asp-for="UserInfo.Password" type="password" />
                                    <span asp-validation-for="UserInfo.Password"></span>
                                </div>
                            </div>
                            <button class="button-default mr-auto mt-3" id="ChangePassword">Ändra Lösenord</button>


                        </div>

                        <div class="container col" style="max-width:250px">

                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input class="form-control" asp-for="PhoneNumber" />
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Street"></label>
                                <input class="form-control" asp-for="Street" />
                                <span asp-validation-for="Street"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Zip"></label>
                                <input class="form-control" asp-for="Zip" />
                                <span asp-validation-for="Zip"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SSN"></label>
                                <input class="form-control" asp-for="SSN" />
                                <span asp-validation-for="SSN"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City"></label>
                                <input class="form-control" asp-for="City" />
                                <span asp-validation-for="City"></span>

                            </div>

                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">

                        <input class="button-default" type="submit" value="Spara" />
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="offset-1">

        <h2 id="MinaBilar" class="col-12 mt-5 ml-0 float-left pl-0">Mina bilar</h2>

        <div class="container mt-1 row" style="max-width:1035px">



            <div class="card-deck">

                @foreach (var carCard in Model.CarCards)
                {
                    <partial name="_MyCars" model="carCard" />
                }
            </div>
        </div>

        <h2 class="mb-3 mt-5" id="MinaBokningar">Mina Bokningar</h2>

        <div class="container row" style="max-width:1035px">

            <div class="card-deck mb-2 mt-1">
                @foreach (var booking in Model.MyBookings)
                {
                    <partial name="_MyBookings" model="booking" />
                }
            </div>
            <h2 class="mb-3 mt-5" id="MinaOmdommen">Mina omdömmen</h2>

            <div class="card-deck mb-5">

                @foreach (var review in Model.MyReviews)
                {
                    <partial name="_MyRatedCars" model="review" />
                }

            </div>

        </div>
    </div>
</div>
<script>
    $(function () {



        $("#PassWordField").hide();

        $("#ChangePassword").click(function (e) {
            e.preventDefault();

            $("#PassWordField").show();
            $(this).hide();

        })

        $("#FirstLink").click(function (e) {
            e.preventDefault();
            var elmnt = document.getElementById("MinaPersonuppgifter");
            elmnt.scrollIntoView(true);
        })
        $("#SecoundLink").click(function (e) {
            e.preventDefault();
            var elmnt = document.getElementById("MinaBilar");
            elmnt.scrollIntoView(true);
        })
        $("#ThirdLink").click(function (e) {
            e.preventDefault();
            var elmnt = document.getElementById("MinaBokningar");
            elmnt.scrollIntoView(true);
        })
        $("#FourthLink").click(function (e) {
            e.preventDefault();
            var elmnt = document.getElementById("MinaOmdommen");
            elmnt.scrollIntoView(true);
        })

    })
</script>